// Specific CSS for your home-page
.stretch {
  height: 30vh;
  background-color: black;
  margin-bottom: 10px;
}

.typed-cursor{
    font-size: 25px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.features {
  margin-top: 200px;
  width: 300px;
}

.container {
  min-height: calc(100vh - 100px - 70vh - 70px);
}
.univers {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('univers.jpg');
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
}
.univers h2 {
  color: white;
  font-family: 'Avenir';
  font-weight: bold;
}
i.fas.fa-circle::before {
  color: #1BD0CF;
  font-weight: bold;
  font-size: 7px;
  margin-left: 3px;
}
