<div class="banner">
  <div class="banner-content">
<!--     <h1>Live Match</h1> -->
    <%= image_tag "logo-livematch.png", width: 400 %> <br>
    <span id="banner-typed-text"></span>
  </div>
  <div class="banner-headphone">
    <%= image_tag "header-live-match.jpg", width: 400 %>
  </div>
</div>
