<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://i.ytimg.com/vi/Y8N9vxYxWcc/maxresdefault.jpg');">
  <div class="banner-content">
    <h1>Live Match</h1>
    <span id="banner-typed-text"></span>
<!--     <p>Trouvez le meilleur DJ pour <br> votre établissement<span style="banner-dot">.</span></p>
 -->  </div>
  <div class="banner-content">
    <p>photo</p>
  </div>
</div>
