<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path dj.user.avatar %>');">
  <div class="card-description">
    <h2><%= dj.artist_name %><i class="fas fa-circle"></i></h2>
 </div>
  <%= link_to "", dj_path(dj), class: "card-link" %>
</div>
