<%= render 'shared/banner' %>
<%= render 'shared/search_form' %>

<div class="container">

  <div class="features">

  </div>
  <div class="stretch"></div>
  <div class="stretch"></div>
  <div class="stretch"></div>
  <div class="stretch"></div>
  <div class="stretch"></div>

</div>
