.banner {
  // color: #1A4343;
  // text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
}
.banner-content {
  width: 650px;
  padding-left: 100px;
}
.banner img {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #1A4343;
  margin-bottom: 50px;
  // margin-left: 50px;
  margin-right: -50px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: #1A4343;
  opacity: 0.6;
  margin-bottom: 30px;
}
.banner-dot {
  color: #1AD2D0;
  font-weight: bold;
  opacity: 0;
  font-size: 200px;
}
#banner-typed-text { /* Text Styling */
  font-family: "Avenir";
  font-weight: bold;
  font-size: 32px;
  opacity: 1;
  color: #1A4343;
}
.banner-headphone {
  padding-right: 100px;
  padding-top: 300px;
}

@media(max-width: 975px) {
  .banner-content {
    padding-left: 50px;
  }
}

@media(max-width: 900px) {
  .banner-headphone {
    display: none;
  }
  #banner-typed-text {
    font-size: 24px;
  }
  .banner {
    justify-content: space-around;
    height: 300px;
  }
  .banner-headphone {
  padding-right: 0;
  padding-top: 0px;
  }
  .banner-content {
    padding: 0px;
    width: auto;
  }
  .banner-content img {
    padding: 0px;
    width: 300px;
    margin: 0px;
  }
}
